<header>
    <div>
        <a href="/home"><img src="/assets/full_logo_white.png"></a>
    </div>
    <div>
        <p class="title">Employee Schedules</p>
    </div>
    <div>
        <p class="sched-mgmt"><a href="/newschedule">Schedule&nbsp;Management</a></p>
    </div>
    <div>
        <p class="logout"><a href="/login">Logout</a></p>
    </div>
    
    
</header>