<header>
    <div>
        <a href="/home"><img src="/assets/full_logo_white.png"></a>
    </div>
    <div>
        <p class="title">Sign up Page</p>
    </div>
    <ul class="nav justify-content-end nav-pills nav-fill nav-fill-login">
        <li class="nav-item sched-mgmt">
            <a class="nav-link" href="/signup" tabindex="-1">Sign&nbsp;Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>
      </ul>
    </div>
</header>