*,
*:after,
*:before {
    margin:0;
    padding:0;
    box-sizing:border-box
}

body {
    font-family: 'Poppins', sans-serif;;
    color:#5c5b5b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    width: 100%;
    max-width: 1080px;
    margin:0 auto;
    
}

main h1 {
    margin-top: 5%;
    text-align: center;
}

main p {
    text-align: center;
}

 footer {
    margin-top: auto;
}

.flex{
    display: flex;
}

header{
    display: flex;
    background-color: #6a7b8b;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2%;
    font-size: 1rem;
    min-height: 100px;
    
}

.active {
    color: #8ba4bb;
}


.logout a {
    color: white;
    text-decoration: none;
}

.sched-mgmt a {
    color: white;
    text-decoration: none;
}

header .title{
    color: #fff;
    font-size: 4rem;
    padding-top: 5px;
}

header img{
    width: 170px;
    height: 60px;
    margin-top: 10px;
}

.namelink:visited, .namelink:hover, .namelink:focus {
    text-decoration: none;
    color:#5c5b5b;
}

.link-secondary{
    text-decoration: none;
}

table {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
  }
  
  td {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .icon {
    text-align: center;
    
  }

  .far {
      color: #6a7b8b;
      cursor: pointer;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  th {
    text-align: center;
    border: 2px solid #dddddd;
    padding: 8px;
    color: #fff;
    background-color: #6a7b8b;
  }

  .home img {
      margin-top: 30px;
      margin-bottom: 30px;
      width: 60%;
      height: 40%;
      animation: mymove 5s infinite;
  }

  .box-shadow {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    justify-content: center;
    padding: 3%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
 .wrap-form {
    display: flex;
    justify-content: center;
 }

  form {
      text-align: center;
  }

  .form-size {
    max-width: 100%;
  }

  .center_div{
    display: flex;
    justify-content: center;
}

label {
    display: inline-block;
    clear: left;
    width: 150px;
    text-align: left; /*Change to right here if you want it close to the inputs*/
}
input {
  display: inline-block;
}

  .field {
      padding-bottom: 10px;
      
  }
/* button:hover {
    cursor: pointer;
}
button{
    margin-top: 20px;
    width: 70px;
    height: 30px;
    box-shadow: black 0 0 2px;
} */

#day {
    width: 166px;
}

#user_id {
    width: 166px; 
}

.stop img {
    opacity: 0.1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.error {
    position: absolute;
    margin-top: 10%;
    margin-left: 24%
}

.error p {
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
}



.links {
    float: right;
    border-radius: 4px;
    background-color: #6a7b8b;
    color: white;
    width: 100px;
    height: 40px;
}

.errormsg {
    color: red
}


