<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!--Header-->
    <header>
        <div>
            <a href=""><img src="/assets/full_logo_white.png"></a>
        </div>
    </header>
    <!--Main-->
    <main>
        <h1><strong>Mr. Coffee Login Page</strong></h1><br>
        <form action="/login" method="POST">
            <div>
                <label for="email">Email *</label>
                <input id="email" type="email" name="email" required />
            </div>
            <div>
                <label for="password">Password *</label>
                <input id="password" type="password" name="password" required />
            </div>
            <div>
                <button type="submit" class="button">Login</button>
            </div>
        </form>
    </main>
</body>

</html>